@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabriela', 'poppins';
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'sans-serif', 'Gabriela';
}

.hero{
   background-image: url("../images/backgrounds/h_img.jpg");  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   padding-top: 20% ;
  
}

.logo{
    padding-bottom: 3%;
}

.mouse-click{
    padding-top: 7%;
    padding-bottom: 3%;
}
.about{
    text-align: center;
    padding-bottom: 5%;
    padding-top:3%;
    font-family: 'Gabriela', 'sans-serif', 'serif';
    font-size: 1.1rem;
}

  #about{
    font-family: 'Gabriela', serif;
    font-weight: bolder;
}

.services{
    background: url("../images/backgrounds/s_image.jpg");
    background-size: cover;
    padding: 3%;
    font-size: large;
    color: white;
    font-weight: 800;
}

#mydesign {
    display: none;
  }
  
  #my-development {
    display: none;
  }
  #myproduct{
  
    display: none;
  }


#portfolio-heading{
    text-align: center;
    margin-bottom: 20px;
}



.portfolio-images-first > :first-child{
    background-image: url("../images/portfolio/work4.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.portfolio-images-first > :nth-child(2){
    background-image: url("../images/portfolio/work3.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.portfolio-images-first > :nth-child(3){
    background-image: url("../images/portfolio/work2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/
.portfolio-images-first > :nth-child(4){
    background-image: url("../images/portfolio/work1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.portfolio-images-second{
    margin-top: -50px;
}


.portfolio-images-second > :first-child{
    background-image: url("../images/portfolio/work5.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.portfolio-images-second > :nth-child(2){
    background-image: url("../images/portfolio/work6.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.portfolio-images-second > :nth-child(3){
    background-image: url("../images/portfolio/work7.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.portfolio-images-second > :nth-child(4){
    background-image: url("../images/portfolio/work8.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
    background-color: rgba(0, 0, 0, .8);
    height: 200px;
    width: 245px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.work1 > h4, .work2 > h4, .work3 > h4, .work4 > h4, .work5 > h4, .work6 > h4, .work7 > h4, .work8 > h4{
    border: solid white 3px;
    box-sizing: border-box;
    width: 200px;
    height: 150px;
    padding: 20px;
    color: rgb(17, 228, 34);
}
.contacts {
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size: cover;
}

.contacts h1 {
    position: relative;
    top: 30px;
}
.text{
    margin-bottom: 20px;
}

.contact-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.form-control{
    background-color: #66000000;
    color: white;
}
.input{
    margin-top: 30px;
}
.mytext{
    font-family: "Gabriela", "sans-serif";
}


.social{
    justify-content:center;
    padding-left:10px;
    padding-right:10px;
}

textarea::placeholder{
    color: #555151;
}



