@import url('https://fonts.googleapis.com/css?family=Copse|Delius+Swash+Caps|Gabriela|Unkempt&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gabriela', 'poppins';
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'sans-serif', 'Gabriela';
}

.hero{
   background-image: url("../images/backgrounds/h_img.jpg");  
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   padding-top: 20% ;
  
}

.logo{
    padding-bottom: 3%;
}

.mouse-click{
    padding-top: 7%;
    padding-bottom: 3%;
}
.about{
    text-align: center;
    padding-bottom: 5%;
    padding-top:3%;
    font-family: 'Gabriela', 'sans-serif', 'serif';
    font-size: 1.1rem;
}

  #about{
    font-family: 'Gabriela', serif;
    font-weight: bolder;
}

.services{
    background: url("../images/backgrounds/s_image.jpg");
    background-size: cover;
    padding: 3%;
    font-size: large;
    color: white;
    font-weight: 800;
}

